<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8"> 
      <title>WebStatus</title>
    </head>
    <body>
		   
<!-- disponibiliza os css vindo do app.js para os handlebars-->



      
      {{{body}}}

<!--disponibiliza os js vindo do app.js para os handlebars-->
  
    </body>