<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8"> 
      <title>WebStatus</title>
    </head>
    <body>
		   
//disponibiliza os css vindo do app.js para os handlebars
	<link rel='stylesheet' href='bootstrap-theme'>
    <link rel='stylesheet' href='main'>
    <link rel='stylesheet' href='bootstrap.min'>
    <link rel='stylesheet' href='font-awesome.min'>


      {{{body}}}

//disponibiliza os js vindo do app.js para os handlebars
      <script src='google-maps'> </script>
      <script src='headroom.min'> </script>
      <script src='html5shiv'> </script>
      <script src='jQuery.headroom.min'> </script>
      <script src='respond.min'> </script>
      <script src='template'> </script>


//disponibiliza as imagens vindas do app.js para os handlebars    


  <img src="logo.png">
  
  <img src="bg_header.jpg">
  
  <img src="bomfim.jpg">
  
  <img src="gt_favicon.png">
  
  <img src="mac.jpg">
  
  <img src="moto.jpg">
  
  <img src="pista-moto.jpg">
  
  <img src="sinalito.jpg">
  
  <img src="sinalito-m.png">
  


    </body>
</html>