<!DOCTYPE>
 lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Administração</title>

	<link rel="shortcut icon" href="/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">

		<!-- Edição bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<script src="/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Inicio do Menu-->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="/">Início</a></li>
					<li><a href="/empresa">Empresa</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Categorias <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/cat-a">Cat A</a></li>
							<li><a href="/cat-b">Cat B</a></li>
							<li class="active"><a href="/cat-ab">Cat A/B</a></li>
							<li class="active"><a href="/adicao">Adição</a></li>
						</ul>
					</li>
					<li><a href="/contato">Contato</a></li>
					<li class="active"><a class="btn" href="/portal-aluno">Portal do Aluno</a></li>
				</ul>
			</div>
		</div>
	</div> 
	<!-- Final do Menu-->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Início</a></li>
			<li class="active">Área do Adm</li>
		</ol>

		<div class="row">
			
			<!-- Inicio do Login Admin -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title"><b>Administrador</b></h1>
				</header>
				
				<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
					<div class="panel panel-default">
						<div class="panel-body">
							<h3 class="thin text-center">Entre como administrador</h3>
							<p class="text-center text-muted"> </p>
							<hr>
							
							<form>
								<div class="top-margin">
									<label>E-mail<span class="text-danger">*</span></label>
									<input type="text" class="form-control">
								</div>
								<div class="top-margin">
									<label>Senha <span class="text-danger">*</span></label>
									<input type="password" class="form-control">
								</div>

								<hr>

								<div class="row">
									<div class="col-lg-8">
										
									</div>
									<div class="col-lg-4 text-right">
										<a href="./adm/adm"></a>
										<button class="btn btn-action" type="submit">Entrar</button>
									</div>
								</div>
							</form>
						</div>
					</div>

				</div>
				
			</article>
			<!-- Final do Login Admin -->

		</div>
	</div>	
	<!-- Começo do Footer -->
	

	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Informações</h3>
						<div class="widget-body">
							<p>Tels.: (71) 3000-0000<br>
								<a href="mailto:#">autoescolastatus@hotmail.com</a><br>
								<br>
								Rua Travasso de fora, Largo da Baixa do Bonfim, nº 2, Salvador - BA
							</p>	
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Redes Sociais</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href="https://www.instagram.com/statuscfc/?igshid=1wxasf06khkrx"><i class="fa fa-instagram fa-2"></i></a>
								<a href="https://www.facebook.com/Status-Autoescola-365678070825783/"><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Confira nossos serviços</h3>
						<div class="widget-body">
							<p>Oferecemos serviços de formação de condutores e treinamentos para aquisição da primeira CNH nas categorias “A” e “B”, para renovação de CNH, para adição ou mudança de categorias.</p>
						</div>
					</div>

				</div> 
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="/index">Início</a> | 
								<a href="/empresa">Empresa</a> |
								<a href="/cat-b">Categorias</a> |
								<a href="/contato">Contato</a> |
								<b><a href="/portal-aluno">Portal do Aluno</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2020, Auto Escola Status. 
							</p>
						</div>
					</div>

				</div> 
			</div>
		</div>
	</footer>	
	<!-- Final do Footer -->	




	<!-- JavaScript -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="/js/headroom.min.js"></script>
	<script src="/js/jQuery.headroom.min.js"></script>
	<script src="/js/template.js"></script>
</body>
<>