<!DOCTYPE>
 lang="pt-br">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Moto/Carro</title>

	<link rel="shortcut icon" href="/images/gt_favicon.png">
	
	<link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/font-awesome.min.css">

		<!-- Edição bootstrap -->
	<link rel="stylesheet" href="/css/bootstrap-theme.css" media="screen" >
	<link rel="stylesheet" href="/css/main.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/js/html5shiv.js"></script>
	<script src="/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/"><img src="/images/logo.png" alt="Progressus HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li><a href="/">Início</a></li>
					<li><a href="/empresa">Empresa</a></li>
					<li class="dropdown">
						<a href="/" class="dropdown-toggle" data-toggle="dropdown">Categorias <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li class="active"><a href="/cat-a">Cat A</a></li>
                            <li><a href="/cat-b">Cat B</a></li>
							<li class="active"><a href="/cat-ab">Cat A/B</a></li>
							<li class="active"><a href="/adicao">Adição</a></li>
						</ul>
					</li>
					<li><a href="/contato">Contato</a></li>
					<li><a class="btn" href="/portal-aluno">Portal do Aluno</a></li>
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">
		
		<ol class="breadcrumb">
			<li><a href="/">Início</a></li>
			<li class="active"> Carro/Moto</li>
		</ol>

		<div class="row">
			
			<!-- Sidebar -->
			<aside class="col-md-4 sidebar sidebar-left">

				<div class="row widget">
					<div class="col-xs-12">
						<h4>1ª Habilitação Categoria “A” e “B”</h4>
						<p>Curso para quem desejar se habilitar simultaneamente nas categorias "A" e "B".</p>
					</div>
				</div>
				<div class="row widget">
					<div class="col-xs-12">
						<h4></h4>
						<p><img src="/images/image-ab.jpg" alt=""></p>
					</div>
				</div>

			</aside>
			<!-- /Sidebar -->

			<!-- Article main content -->
			<article class="col-md-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">Habilitação para conduzir carros e motos.</h1>
				</header>
				<p>Além de poder tirar a primeira habilitação nas categorias “A” e “B” de forma separada, na Autoescola Reis você pode fazer os dois cursos simultaneamente, o que habilita o condutor a dirigir carros e pilotar motos.</p>
				
				<h2>Categoria “AB”</h2>
				<p>Veículos motorizados de duas ou três rodas (Motos e Triciclos), com ou sem carro lateral, da categoria “A” e veículos motorizados da categoria “B”, cujo peso bruto total não exceda a três mil
					 e quinhentos quilogramas e cuja lotação não exceda a oito lugares, excluído o do motorista. Estão os condutores da categoria “AB”, também au
					a conduzir veículos automotores do tipo motor-casa (“MotorHome”), cujo peso não exceda a 6.000 kg, ou cuja lotação não exceda a 08 lugares, excluído o do motorista.</p>

				<h3>IMPORTANTE:</h3>
				<p>Se for aprovado, você receberá a permissão provisória para dirigir. A CNH definitiva será expedida após um ano da emissão se o condutor não tiver cometido infrações de natureza grave ou gravíssima durante esse período. O motorista também não pode ter cometido infração de natureza média mais de uma vez.</p>
			</article>
			<!-- /Article -->

		</div>
	</div>	<!-- /container -->
	

	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Informações</h3>
						<div class="widget-body">
							<p>Tels.: (71) 3000-0000<br>
								<a href="mailto:#">autoescolastatus@hotmail.com</a><br>
								<br>
								Rua Travasso de fora, Largo da Baixa do Bonfim, nº 2, Salvador - BA
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Redes Sociais</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href="https://www.instagram.com/statuscfc/?igshid=1wxasf06khkrx"><i class="fa fa-instagram fa-2"></i></a>
								<a href="https://www.facebook.com/Status-Autoescola-365678070825783/"><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Confira nossos serviços</h3>
						<div class="widget-body">
							<p>Oferecemos serviços de formação de condutores e treinamentos para aquisição da primeira CNH nas categorias “A” e “B”, para renovação de CNH, para adição ou mudança de categorias.</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="/">Início</a> | 
								<a href="/empresa">Empresa</a> |
								<a href="/cat-b">Categorias</a> |
								<a href="/contato">Contato</a> |
								<b><a href="/portal-aluno">Portal do Aluno</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2020, Auto Escola Status. 
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>
	</footer>	
		




	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script src="/js/headroom.min.js"></script>
	<script src="/js/jQuery.headroom.min.js"></script>
	<script src="/js/template.js"></script>
</body>
<>