<!DOCTYPE>
 lang="en">
<head>
    <link rel="shortcut icon" href="/aluno/images/gt_favicon.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/aluno/css/aulas.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Portal do Aluno</title>
</head>
<header>
    <div class="header-area">
        <div class="logo">
            <a href="/">
                <img src="/aluno/images/logo-aluno.png" alt="">
            </a>
        </div>
</header>
<body>
     <!--começo do  Menu -->
     <div class="container">
        <nav>
            <ul class="menu">
                <a href="/aluno/solicitacao">
                    <li><i class="fa fa-commenting"></i> Solicitação</li>
                </a>
                
                <a href="/aluno/aulas">
                    <li><i class="fa fa-file-pdf-o"></i> Aulas</li>
                </a>
                <a href="/aluno/avisos">
                    <li><i class="fa fa-envelope"></i> Avisos</li>
                </a>
                <a href="/portal-aluno">
                    <li><i class="fa fa-sign-out"></i> Encerrar Sessão</li>
                </a>
            </ul>
        </nav>
        <section>
            <!-- final do menu -->
            <div class="mininav">
                <h1>Aulas Teóricas</h1>
            </div>
            <br>
           
            <!-- formulário de Cadastro de Aluno -->
            <div class="text-f">
                <form method="post" action="../Controller/cadastro.php">
                
                    <div class="logoimg">
                        <a href="www.google.com"><p><img src="./images/iconpdf.png"width="200" height="200"></a>
                    </div>
                    
                    <div class="mininav2">
                    <h1>Aulas Práticas</h1>
                    </div>
                    <div class="logoimg2">
                        <a href="www.google.com"><p><img src="/aluno/images/iconpdf.png"width="200" height="200"></a>
                        </div>
                </form>
            </div>
            <!-- final do castrado do aluno -->
        </section>







    
</body>
<>