<!DOCTYPE>
 
<head> 
<meta charset="UTF-8">

    <link rel="shortcut icon" href="/adm/images/gt_favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/adm/css/Padm.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./js/jquery.mask.min.js"></script>
   <!--- Identificar os digitos -->
   <script type="text/javascript">
        $(document).ready(function(){
            $("#cpf").mask("000.000.000-00")
            $("#dataNascimento").mask("00/00/0000")
            $("#cep").mask("00.000-000")
            $("#telefone").mask("(00) 0000-0000")
            $("#celular").mask ("(00)9 0000-0000")

        })
    </script>


    <title>Area do administrador</title>
</head>
<header>
    <div class="header-area">
        <div class="logo">
            <a href="/">
                <img src="/adm/images/logoadm.png" alt="">
            </a>
        </div>
</header>
<body>
    
    <!--começo do  Menu -->
    <div class="container">
        <nav>
            <ul class="menu">
                <a href="/adm/adm">
                    <li><i class="fa fa-user"></i> Novo Cadastro</li>
                </a>
                <a href="/adm/buscar">
                    <li><i class="fa fa-search"></i> Buscar</li>
                </a>
            
                <a href="/adm/solicitacoes">
                    <li><i class="fa fa-bell"></i> Solicitações</li>
                </a>
                <a href="/adm/inseriraulas">
                    <li><i class="fa fa-folder"></i> Inserir Aulas</li>
                </a>

                <a href="/portal-aluno">
                    <li><i class="fa fa-sign-out"></i> Encerrar</li>
                </a>
            </ul>
        </nav>
        <section>
            <!-- final do menu -->
            <div class="mininav">
                <h1>Cadastro de Alunos</h1>
            </div>
            <br>
           
            <!-- formulário de Cadastro de Aluno -->
            <div class="text-f">
                <form method="post" action="">
                 <label> Nome Completo</label><br>
                    <input type="text" name="nome" class="campo" maxlenght="40" required autofocus><br>

                    <label>CPF</label> <br>
                    <input type="text" name="cpf" class="campo" id="cpf" maxlenght="14">
                    <br>
                   
                      
                    <label>Data de Nascimento</label><br>
                    <input type="text" name="nascimento" id="dataNascimento"class="campo" maxlenght="40" required><br>
                    <br>
                    Sexo:
                    <select name="sexo">

                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                    </select>
                    <br><br>

                    <label>Endereço</label><br>
                    <input type="text" name="endereco" class="campo" maxlenght="40" required autofocus><br>

                    <label>CEP</label><br>
			        <input type="text" name="cep" id="cep" class="campo" /><br>

                    <label>Telefone</label><br>
                    <input type="text" name="telefone" class="campo" id="telefone" />
                    <br>
                    
                    <label>Celular</label><br>
                    <input type="text" name="celular" class="campo" id="celular" />
                    <br>
                   
                    <label>E-mail</label><br>
                    <input type="email" name="email" class="campo" maxlenght="40" required autofocus><br>
                   
                    <label>Senha</label><br>
                    <input type="text" name="senha" class="campo" id="celular" />
                    <br>
                    
                    <label>Confirmar Senha</label><br>
                    <input type="text" name="senhaComfirme" class="campo" id="celular" />
                    <br>
                    Ocorrência<br>
                    <textarea rows="10" cols="55" maxlength="500" name="comentarios" id="comentarios" style="resize: none">
                     Comente aqui...
                
                  </textarea><br /><br>
                    
                   
                    <input type="submit" class="btn btn-primary" value="Salvar" class="btn">
                    <input type="reset" class="btn btn-outline-success" value="Limpar" class="btn"> 
                    <br>
                    <br>
                   
                </form>
            </div>
            <!-- final do castrado do aluno -->
        </section>
        <br>
        <br>

</body>



<>